body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #fff0fd;
}

header {
    background-color: #7d159d;
    color: rgb(255, 255, 255);
    padding: 1rem;
    text-align: center;
    border-radius: 12px;
}

.logo img{
    height: 80px;
    margin-top: 5px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffffff;
}

.button-container {
    text-align: center; /* Centraliza os botões */
    margin-top: 20px;
}

button {
    margin-bottom: 20px;
    padding: 10px 15px;
    background-color: #897ED6;
    color: #ffffff;
    border: 1px  #ddd;
    border-radius: 5px;
    font-weight: 500;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.11);
    justify-content: center; /* Alinha os botões no centro */
}

#novo-usuario-btn {
    background-color: #00d5ff;
    color: #7d159d;
}
#voltar-btn{
    background-color: #00d5ff;
    color: #7d159d;  
}


#titulo-formulario{
    color: rgba(180, 35, 191, 0.5);
}

button:hover{
    background-color: #FFAE00;
}

.hidden {
    display: none;
}

#formulario-usuario{
    align-items: center;
    background-color:#ffffff;
    flex-direction: column; /* Coloca os itens em coluna */
    align-items: center; 
    max-width: 600px; /* Define uma largura máxima para o formulário */
    margin: 0 auto; /* Centraliza o formulário na tela */
    color: #292F47;
    font-weight: 600;
}
form {
    margin-bottom: 20px;
    width: 100%; /* Garante que o formulário use toda a largura disponível */
    display: flex;
    flex-direction: column; /* Organiza os elementos em coluna */
    align-items: center; /* Centraliza os itens do formulário */
    color: #292F47;
}

#titulo-formulario{
    color: #7d159d;
    font-weight: bold;
}


label {
    display: block;
    margin: 10px 0 5px;
}

input, select {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.175);
    border-radius: 8px;
    border: none;
    background-color: #ece9e4;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    color: #ffffff ;
    height: 12px;
}

td{
    color: #495F6D;
    background-color: #ece9e4;
}


th {
    background-color: #9D31BD;
    border-radius: 5px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: blue; /* Altere para a cor desejada */
    text-decoration: none;
    border-radius: 5px;
}

#salve-btn{
    background-color: green;
}

#cancelar-btn{
    background-color: red;
}

.button2{
    border-radius: 15px;
}

